.total {
	margin-right: 28px;
}

.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;

	@media (max-width: 600px) {
		flex-direction: column;
		width: 100%;
		align-items: flex-start;
	}

	&-top {
		display: flex;
		align-content: center;
		justify-content: space-between;

		@media (max-width: 600px) {
			width: 100%;
			justify-content: space-between;
		}

	}
}

.filter-mobile {
	display: none;
	background-color: transparent;
	border-radius: 6px;
	text-align: center;
	color: #833f1d;
	border: 1px solid rgba(148, 72, 80, 0.5);
	// box-shadow: 0 0 8px 0 rgb(4 17 29 / 25%);
	padding: 10px;
	width: fit-content;
	cursor: pointer;

	@media (max-width: 813px) {
		display: block;
	}
}

.search {
	width: 320px;
	border: 1px solid rgba(148, 72, 80, 0.5);
	border-radius: 6px;
	padding: 8px 12px;
	color: #833f1d !important;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: "Play", sans-serif;

	@media (max-width: 600px) {
		width: 100%;
		margin-top: 10px;
	}

	:global(.MuiOutlinedInput-input) {
		padding: 0;
	}
	:global(.MuiOutlinedInput-notchedOutline) {
		outline: none;
		border: none;
	}

	.icon {
		cursor: pointer;
		color: #833f1d;
	}
}

.sort {
	width: 172px;
	color: #833f1d;
	:global(.MuiOutlinedInput-notchedOutline) {
		border: none;
	}
	:global(.MuiSelect-select) {
		background: #fff8f1;
		border-radius: 6px;
	}
}

.item {
	color: #833f1d !important;
	&:global(.Mui-selected) {
		background-color: #f1ecec !important;
	}
}

.tag {
	height: 48px;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(50px);
	border-radius: 6px;
	padding: 5px 6px;
	margin-right: 16px;
	margin-bottom: 12px;

	.text {
		color: #ff8d4d;
		font-weight: 700;
	}
}

.clear {
	border: none;
	color: #ff9d16;
	font-size: 14px;
	margin-bottom: 12px;
}
