.pagination {
	width: fit-content;
	margin: 20px auto;

	:global(.MuiPaginationItem-root) {
		color: #833f1d;
	}
	:global(.MuiPaginationItem-root.Mui-selected) {
		color: white;
		background-color: #ff8d4d;
	}
}
