$break-point-1: 814px;
$mobile: 576px;
.profile {
	.row {
		height: 100%;
		display: flex;

		.left {
			width: 300px;
			height: calc(100vh - 70px);
			overflow-y: auto;

			@media (max-width: $break-point-1) {
				display: none;
			}
		}

		.right {
			width: calc(100% - 300px);
			height: calc(100vh - 70x);
			overflow-y: auto;

			.breadcrumbs {
				padding: 25px 60px;
				:global {
					.MuiTypography-root {
						color: #833f1d !important;
						font-size: 16px;
						text-transform: capitalize;
					}
					.MuiBreadcrumbs-li {
						cursor: pointer;
					}
					.MuiSvgIcon-fontSizeMedium {
						color: #cea061 !important;
						// background-color: #625D83 !important;
					}
				}
				padding-bottom: 18px;
				margin-bottom: 40px;
				border-bottom: 1px solid #d2b0a3;
			}
			@media (max-width: $break-point-1) {
				padding: 40px 8px;
			}

			.content {
				padding: 0px 60px;
			}
		}
	}
}
