.skeleton{
	background: linear-gradient(180deg, #FDF5E8 0%, #FDE7CF 100%);
    border-radius: 10px;
    border: 1px solid #CF9C8F;
    padding: 20px;
	width: 220px;
	color: #ffddb9;
  }
  .nft-skeleton{
    width: 20%;
    margin-bottom: 20px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    position: relative;

    @media (max-width: 1626px) {
        width: 25%;
    }
    @media (max-width: 1378px) {
        width: 33.33%;
    }

    @media (max-width: 1120px) {
        width: 50%;
    }
    @media (max-width: 860px) {
        width: 100%;
    }
    @media (max-width: 768px) {
        width: 50%;
    }
    @media (max-width: 600px) {
        width: 100%;
    } 
  }
