$break-point-1: 814px;
$tablet: 768px;
$mobile: 576px;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
:global {
	.MuiCard-root {
		box-shadow: none;
	}
	.MuiModal-root {
		z-index: 1 !important;
	}
}
.container {
	min-height: calc(100vh - 70px);
	width: 100%;
	color: white;
	background-color: #fdecd9;
	padding-bottom: 20px;

	.content {
		width: 80%;
		margin: 0 auto;
		padding-top: 5%;
	}

	.skeleton {
		height: 200px;
		width: 100%;
		border-radius: 8px;
	}

	.grid-parent {
		display: flex;
		align-items: stretch;
		// gap: 10px;
	}

	.card {
		background: linear-gradient(180deg, #fdf5e8 0%, #fde7cf 100%);
		border: 1px solid #cf9c8f;
		border-radius: 8px;
		min-height: 100%;
	}

	.create-card {
		text-align: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		.create-paragraph {
			color: #833f1d;
			font-family: Play;
			font-size: 20px;
			font-weight: 600;
			padding-top: 25px;
		}
		.create-logo {
			width: 60px;
			height: 60px;
		}
	}

	.item-card {
		.item-header {
			font-family: Play;
			font-size: 20px;
			font-weight: 700;
			letter-spacing: 0em;
			color: #833f1d;
			display: flex;
			align-items: center;

			.grid-parent {
				width: 100%;
			}
			.game-logo {
				width: 40px;
				height: 40px;
				margin-right: 16px;
				border-radius: 50px;
			}

			.game-name {
				text-align: left;
				@media (max-width: $mobile) {
					text-align: center;
				}
			}

			.game-mini {
				width: 18px;
				height: 18px;
				margin-left: 10px;
			}
			// text-align: center;
		}
		.item-paragraph {
			font-family: Play;
			font-size: 14px;
			font-weight: 500;
			line-height: 25px;
			letter-spacing: 0em;
			padding-top: 5px;
			text-align: left;
			color: #833f1d;
			padding-left: 10px;
			display: flex;
			align-items: center;
			.game-mini {
				width: 18px;
				height: 18px;
				margin-right: 16px;
			}
			.game-amount {
				color: #833f1d;
				font-weight: 700;
				padding-left: 2px;
			}
			a {
				text-decoration: none;
			}
		}

		.create-action {
			justify-content: center;
			padding-bottom: 14px;

			.create-button {
				font-family: Play;
				font-weight: 700;
				font-size: 14px;
				line-height: 21px;
				display: flex;
				// justify-content: flex-end;
				width: 88%;
				text-align: center;
				gap: 12px;
				color: white;
				padding: 5px 24px;
				color: white;
				background: #ff7500;
				border-radius: 6px;
			}
		}
	}
}
.modal-style {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40%;
	min-height: 335px;
	font-family: Play;
	outline: none !important;
	transform: translate(-50%, -50%);
	background: #fdf5e8;
	border-radius: 8px;
	text-align: center;
	justify-content: center;
	@media (max-width: $tablet) {
		width: 80%;
	}
	.modal_header {
		margin-top: 30px;
		font-weight: 500;
		font-size: 20px;
	}
	.error_tag {
		margin: 0 auto;
		width: 60%;
		text-align: left;

		&_text {
			margin: 0;
			padding-left: 10px;
			padding-top: 8px;
			color: #dc615d;
			font-size: 14px;
		}
	}
	.input {
		font-family: Play;
		padding-left: 10px;
		background-color: #fdf5e8;
		line-height: 45px;
		margin-top: 15px;
		width: 60%;
		border: 1px solid rgba(217, 164, 170, 0.35);
		border-radius: 4px;
		box-sizing: border-box;
		&_image {
			font-family: Play;
			padding-left: 10px;
			background-color: #fdf5e8;
			line-height: 65px;
			margin-top: 15px;
			width: 60%;
			border: 1px solid rgba(217, 164, 170, 0.35);
			border-radius: 4px;
			box-sizing: border-box;
		}
	}
	.input:focus {
		outline: none !important;
		border: 1px solid #d9a4aa;
	}

	::placeholder {
		color: rgba(131, 63, 29, 0.35);
		font-family: Play;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: rgba(131, 63, 29, 0.35);
		font-family: Play;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: rgba(131, 63, 29, 0.35);
		font-family: Play;
	}
	.input_error {
		padding-left: 10px;
		background-color: #fdf5e8;
		line-height: 45px;
		margin-top: 15px;
		width: 60%;
		border: 1px solid rgba(82, 64, 130, 0.2);
		box-sizing: border-box;
		border-radius: 4px;
		border-color: #dc615d;
		border-width: 1px;
	}
	.input_error:focus {
		outline: none !important;
		border-color: #dc615d;
		border-width: 1.5px;
	}
	.modal_create {
		font-family: Play;
		font-weight: 600;
		font-size: 18px;
		margin-top: 15px;
		margin-bottom: 30px;
		width: 60%;
		background: #ffb16f;
		border-radius: 4px;
		cursor: pointer;
		color: white;
	}
	.modal_pending_create {
		font-family: Play;
		font-weight: 600;
		font-size: 18px;
		margin-top: 15px;
		margin-bottom: 30px;
		width: 60%;
		background: #e9d4c3;
		border-radius: 4px;
		cursor: pointer;
		color: white;
	}
	.input_image:focus {
		outline: none !important;
		border: 1px solid #d9a4aa;
	}
	.input_container {
		position: relative;
		.upload_img {
			position: absolute;
			transform: translateY(30%);
			left: 21%;
			height: 60px;
		}

		.input_img {
			position: absolute;
			top: 40px;
			width: 24px;
			right: 21%;
			height: 22px;
			cursor: pointer;
		}

		.preview-img {
			// position: absolute;
			// top: 60px;
			// right: 20%;
			margin-top: 10px;
			width: 60%;
			height: 200px;
			// border: 1px solid rgba(82, 64, 130, 0.2);
		}
	}

	.modal_success {
		position: relative;
		top: 50%;
		transform: translateY(40%);
		.loading_logo {
			width: 25%;
		}
		.success_logo {
			width: 25%;
		}
	}
	.modal_failed {
		position: relative;
		top: 50%;
		transform: translateY(25%);
		.success_logo {
			width: 25%;
		}
	}
	.loading_logo {
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-animation: spin-animation 1.5s infinite linear;
		animation: spin-animation 1.5s infinite linear;
		display: inline-block;
	}
	@keyframes spin-animation {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@-webkit-keyframes spin-animation {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
	.modal_text {
		padding-top: 30px;
		font-family: Play;
		font-size: 24px;
		font-weight: 600;
	}
}
.pagination {
	text-align: center;
	margin-top: 30px;
}
